{% macro location() %}{% icon "map-pin" %}{% endmacro %}
{% macro phone() %}{% icon "phone" %}{% endmacro %}
{% macro email() %}{% icon "mail" %}{% endmacro %}
{% macro clock() %}{% icon "clock" %}{% endmacro %}
{% macro chevronDown() %}{% icon "chevron-down" %}{% endmacro %}
{% macro search() %}{% icon "search" %}{% endmacro %}
{% macro externalLink() %}{% icon "external-link" %}{% endmacro %}
{% macro arrowRight() %}{% icon "arrow-right" %}{% endmacro %}
{% macro download() %}{% icon "download" %}{% endmacro %}
{% macro calendar() %}{% icon "calendar" %}{% endmacro %}
{% macro user() %}{% icon "user" %}{% endmacro %}
